<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <Pattern>%d{yyyy-mm-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M [%L]- %msg%n</Pattern>
        </encoder>
        <file>${LOGS}/spring-boot-logger.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/spring-boot-logger-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 로거 네임 -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springboot" level="INFO"/>
    <logger name="org.thymeleaf" level="ERROR"/>

    <!--<root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>-->

    <!--<root>
        <springProfile name="local">
            <appender-ref ref="CONSOLE"/>
        </springProfile>

        <springProfile name="prod">
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>-->


    <!-- TRACE > DEBUG > INFO > WARN > ERROR, 대소문자 구분 안함 -->
    <!-- profile 을 읽어서 appender 을 설정할수 있다.(phase별 파일을 안만들어도 되는 좋은 기능) -->
    <springProfile name="local">
        <root level="DEBUG">
            <!--<appender-ref ref="FILE" />-->
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <!--<appender-ref ref="FILE" />-->
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

</configuration>