<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<footer class="main-footer" layout:fragment="footer">
    <span>TEL : <strong> 02-787-2200</strong> FAX : <strong>02-787-2270, 2360</strong></span> 서울특별시 영등포구 63로 50, 48/55층
    <em>Copyright © 2016 KOREA INVESTORS SERVICE, Inc. All Rights Reserved</em>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>
</html>